.side-list {
  width: auto; 
  max-width: 1200px; 
  height: 100%; 
  overflow-y: auto; 
  padding: 2rem;
  box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.list-item {
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin-bottom: 1rem; 
  padding: 1rem; 
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
  }
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;

  h3 {
    margin: 0;
    margin-right: 2rem; 
    color: #333;
    font-size: 1rem;
    font-weight: bold;
  }

  .status {
    padding: 0.25rem 0.5rem;
    border-radius: 15px;
    font-weight: bold;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: currentColor;
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
}

.status-low-risk {
  background-color: #d8e5da;
  color: #53D86A;
}

.status-uncomplete {
  background-color: #FFECE5;
  color: #FF3D00;
}

.status-unassigned {
  background-color: #ececed;
  color: #B8B9BC;
}

p {
  color: #666;
  font-size: 0.875rem;
  margin: 0.25rem 0;
}
