/* Reset any potentially conflicting styles */
.status, .status-indicator {
  all: unset;
  display: inline-block;
}

/* Base styles for the status column */
.status {
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.submissions-title{
  padding-left: 2rem;
}

.controls {
  display: flex;
  justify-content: space-between; // To space out the controls evenly
  flex-wrap: wrap; // Wrap controls to the next line on smaller screens
  align-items: center;
  margin: 1rem 0;
  padding: 0 1rem; // Add padding on the sides if needed
  padding-left: 2rem;
  gap: 0.5rem;
  // Individual control styles
  app-search-bar,
  app-dropdown,
  app-date-picker,
  app-toggle-button,
  app-export-button {
    margin-right: 0.5rem; // To manage the space between elements
  &:last-child {
    margin-right: 0; // Ensure the last element doesn't have a margin on the right
  }
    flex: 1 1 auto;
    min-width: 120px; // Minimum width to prevent too much squeezing on smaller screens
    max-width: 220px; // Maximum width to prevent controls from growing too large
  }
}

.table-responsive {
  padding: 1rem; 
  background-color: #FFFFFF; 
  margin: 0 auto; // This will center the table in the page if there is enough space on the sides
  max-width: calc(100% - 2rem); // This ensures the table doesn't exceed the width of its container, taking the padding into account
  box-sizing: border-box; // This ensures the padding is included in the width calculation
}


.status-low-risk {
  background-color: #d8e5da;
  color: #53D86A;
}

.status-uncomplete {
  background-color: #FFECE5;
  color: #FF3D00;
}

.status-unassigned {
  background-color: #ececed;
  color: #B8B9BC;
}


.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
}


.status-low-risk .status-indicator {
  background-color: #53D86A;
}

.status-uncomplete .status-indicator {
  background-color: #FF3D00;
}

.status-unassigned .status-indicator {
  background-color: #B8B9BC;
}


.submissions-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;


}

.submissions-table thead tr th {
  padding: 0.75rem 1rem;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #E5E5E5;
}

.submissions-table tbody tr td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #E5E5E5;
  vertical-align: middle;
}

.submissions-table tbody tr:hover {
  background-color: #EFEFEF;
}
